* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app1 {
  width: 100vw;
  height: 100vh;
}

.top {
  display: flex;
  align-items: center;
  padding: 0px 165px;
  gap: 30px;
  width: 1440px;
  height: 332px;
  flex: auto;
  font-family: "Inter", sans-serif;
}

.top-left {
  position: absolute;
  width: 540px;
  height: 168px;
  left: 165px;
  margin-top: 30px;
}
.section-head {
  gap: 8px;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  flex: auto;
}
.list1 {
  width: 540px;
  height: 128px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191f;
}

.list2 {
  width: 540px;
  height: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}

.top-right {
  position: absolute;
  width: 540px;
  height: 172px;
  margin-top: 30px;
  margin-left: 635px;
}

.section-count {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 540px;
  height: 172px;
  flex: auto;
}

.row {
  display: flex;
  gap: 30px;
  width: 540px;
  height: 66px;
  flex: auto;
}

.unit {
  width: 255px;
  height: 66px;
}

.unit-list {
  display: flex;
  gap: 16px;
  list-style: none;
  align-items: flex-start;
  flex: auto;
}

.icon {
  padding: 8px;
  width: 48px;
  height: 48px;
  align-self: center;
}

.number {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 191px;
  height: 66px;
  flex: auto;
}

.counts {
  width: 191px;
  height: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
}

.label {
  width: 191px;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #18191f;
}
.main-body {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  width: 1440px;
  height: 668px;
  flex: auto;
  font-family: "Inter", sans-serif;
}

.phone {
  position: absolute;
  width: 540px;
  height: 540px;
  left: 165px;
  top: 50px;
  background: #f1e4ff;
  border-radius: 8px;
}

.image-phone {
  position: absolute;
  left: 12.51%;
  right: 6.28%;
  top: 7.5%;
}
.content {
  padding: 0px 48px;
  position: absolute;
  width: 540px;
  height: 302px;
  left: 800px;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 32px;
  flex: auto;
}

.list3 {
  width: 444px;
  height: 54px;
  font-weight: 800;
  font-size: 40px;
  color: #18191f;
}

.list4 {
  width: 444px;
  height: 160px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}

.list5 {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 121px;
  height: 24px;
}

.vector-image {
  position: absolute;
  left: 4.17%;
  right: 4.17%;
  top: 20.83%;
  bottom: 20.83%;
}

.list6 {
  list-style: none;
  position: absolute;
  width: 89px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #8c30f5;
}
.list7 {
  list-style: none;
  position: absolute;
  left: 24.17%;
  right: 4.17%;
  top: 97.83%;
  bottom: 20.83%;
}
