.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 90px 0;
  position: relative;
}

.testimonial-section-left,
.testimonial-section-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
}

.testimonial-section-left {
  align-items: flex-end;
}

.testimonial-section-right {
  align-items: flex-start;
}

.testimonial-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.header-quote-mark {
  width: 142px;
  height: 120px;
  position: absolute;
  z-index: 1;
  left: -20%;
  top: -35%;
}

.testimonial-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  position: relative;
  z-index: 2;
}

.testimonial-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.testimonial-card {
  width: 350px;
  background: white;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-logo {
  width: 140px;
}

.testimonial-details {
  display: flex;
  gap: 16px;
}

.testimonial-details > .testimonial-quote {
  width: 16px;
  height: 14px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonial {
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}

.authors-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.authors-position {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #969bab;
}

.hubspot {
  margin-bottom: 35px;
}

.airbnb {
  width: 445px;
  margin-top: 45px;
}

.testimonial-section::before {
  content: "";
  width: 98vw;
  height: 100%;
  position: absolute;
  background: #d5fafc;
  margin: auto;
  z-index: -1;
}
